export default function TemplatePage ({ ...sharedProps }) {
  const { watchFields } = sharedProps; 

  console.log("watchFields", watchFields);

  return (
      <h1> Content, validations and rules here </h1>
  )
}